<div *ngIf="!loggedIn">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input matInput placeholder="example@email.com" [(ngModel)]="email" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="*********"
        [(ngModel)]="password"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy" *ngIf="showSignup">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="*********"
        [(ngModel)]="confPassword"
      />
    </mat-form-field>
  </p>

  <div *ngIf="!showSignup">
    <button mat-raised-button color="primary" (click)="login()">login</button>
    <button mat-raised-button color="accent" (click)="toggleSignup()">
      signup
    </button>
  </div>
  <div *ngIf="showSignup">
    <button mat-raised-button color="primary" (click)="signup()">signup</button>
    <button mat-raised-button color="accent" (click)="toggleSignup()">
      cancel
    </button>
  </div>
</div>

<div class="user-info" *ngIf="loggedIn">
  <img class="profile-pic" src="assets/images/profile-placeholder.png" /> <br />
  <span class="email">{{ curUser.user.email }}</span> <br />
  <button mat-raised-button color="warn" (click)="logout()">logout</button>
</div>
