<div class="wtf-titlebar">
  <img
    src="assets/images/burger.png"
    (click)="sidenav.toggle()"
    class="menu-toggle animate"
  />
  <img
    src="assets/images/WTFoodLogoSmall.png"
    [routerLink]="['/']"
    class="title-logo animate"
    [ngClass]="{ hidden: curUrl === '/' }"
  />
</div>

<mat-sidenav-container class="wtf-container">
  <mat-sidenav #sidenav [mode]="mode.value" opened>
    <wtf-navbar [mobile]="mobile"></wtf-navbar>
  </mat-sidenav>

  <mat-sidenav-content> <router-outlet></router-outlet> </mat-sidenav-content>
</mat-sidenav-container>
