<div class="wtf-titlebar">
  <img src="assets/images/burger.png" (click)="sidenav.toggle()" class="menu-toggle animate">
  <img src="assets/images/WTFoodLogoSmall.png" class="title-logo">
</div>

<mat-sidenav-container class="wtf-container">
  <mat-sidenav #sidenav [mode]="mode.value">
    <p>
      <mat-radio-group class="example-radio-group" [formControl]="mode">
        <label>Mode:</label>
        <mat-radio-button value="over">Over</mat-radio-button>
        <mat-radio-button value="side">Side</mat-radio-button>
        <mat-radio-button value="push">Push</mat-radio-button>
      </mat-radio-group>
    </p>
    <wtf-login></wtf-login>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
