<div [ngSwitch]="page">
  <div *ngSwitchCase="'menus'">
    <h1>Edit Menus:</h1>

    <wtf-menu-box [type]="'placeholder'"></wtf-menu-box>
    <div *ngIf="curUser !== undefined">
      <wtf-menu-box *ngFor="let menu of curUser.user.menus" [menu]="menu"></wtf-menu-box>
    </div>
  </div>
  <div *ngSwitchCase="'dates'">
      <h1>Edit Dates:</h1>

      <div *ngIf="curUser !== undefined">
        <wtf-menu-box *ngFor="let menu of curUser.user.menus" [type]="'dates'" [menu]="menu"></wtf-menu-box>
      </div>
  </div>
  <div *ngSwitchDefault>output2</div>
</div>
