.wtf-logo {
  display: block;
  position: absolute;
  height: 250px;
  width: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 150px;
}

.wtf-slogan {
  display: block;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 420px;
  font-size: xx-large;
  color: teal;
}
